<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @user.kind %>
</p>

<% unless @user.admin? %>
<%= form_with(model: @user, method: :delete) do |form| %>
  <%= form.submit 'Delete User', class: 'btn btn-danger btn-sm' %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
