<%= form_with(model: school) do |form| %>
  <%= render 'partials/errors', record: school %>

  <div class="row">
    <div class="col">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <%= form.label :user_id %>
      <%= form.select :user_id, @users, {include_blank: 'Select a User'}, {class: "form-select", required: true} %>
    </div>
    <div class="col">
      <%= form.label :active %>
      <%= form.check_box :active, {class: "form-check-input"} %>
    </div>
    <div class="col">
      <br>
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
<br>